<div class="container">
    <div class="tui-container">
        <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit()">
            <div class="tui-row tui-row_sme">
                <div class="tui-col_4">
                    <h3 class="tui-form__header tui-form__header_margin-top_none tui-form__header">Вход</h3>
                    <div class="tui-form__row">
                        <tui-input
                                formControlName="loginValue"
                                tuiHintContent="Логин"
                            >
                                Логин
                                <input
                                    placeholder="Логин"
                                    tuiTextfield
                                />
                                <span class="tui-required"></span>
                        </tui-input>
                        <tui-error
                        formControlName="loginValue"
                        [error]="[] | tuiFieldError | async"
                        ></tui-error>
                    </div>
                    <div class="tui-form__row">
                        <tui-input-password
                                formControlName="passwordValue"
                                tuiHintContent="Пароль"
                            >
                                Пароль
                                <input
                                    placeholder="Пароль"
                                    tuiTextfield
                                />
                                <span class="tui-required"></span>
                        </tui-input-password>
                        <tui-error
                        formControlName="passwordValue"
                        [error]="[] | tuiFieldError | async"
                        ></tui-error>
                    </div>
                </div>
            </div>
            <div class="tui-form__buttons tui-form__buttons_align_center">
                <button
                    size="l"
                    tuiButton
                    type="submit"
                    class="tui-form__button"
                    [disabled]="!loginForm.valid"
                >
                    Войти
                </button>
            </div>
            <div class="tui-form__buttons tui-form__buttons_align_center">
                <a routerLink="/register" tuiLink>Нет аккаунта</a>
            </div>
        </form>
    </div>
</div>